*, *::after, *::before {
    box-sizing: border-box;
  }

body {
    font-family: 'Arial', "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url(../images/pink_rice.png);
    width: 100%;
   }

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    margin: 0;
    height: auto;
    font-family: 'Arial', "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 1px;
    border: #dddddd 1px solid;
    color: #777777;
    clear: both;
}

.navbar {
    background: #ffffff;
}

nav {
    float: right;
}

header {
    background-color: #ffffff;
    border: 1px solid #cccccc;   
    margin-top: -35px;
    margin-left: -5px;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 280px;
    height: 110px;    
    margin-left: 140px;
    margin-bottom: 0px;
    padding-top: 50px;
}

h1 {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 16px;
    color: #cccccc;
}   

nav li {
    display: inline-block;
    margin-left: 90px;
    padding-top: 80px;
}

li:last-child {
    margin-right: 170px;
}

nav a {
    text-decoration: #cccccc;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #cccccc;

    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

nav a:visited {
    color: #e9d0e5;    
}

h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    text-align: left;
    width: 95%;
    height: 80px;    
    margin-right: 160px;
    margin-left: 25px;
    padding-top: 30px;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* About starts here */
img {
    margin-left: 25px;
    border: solid 1px #cccccc;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16.5px; 
}

#p1 {
    width: 56%;
    margin-left: 378px;
    margin-top: -382px;
}

#p2 {
    width: 93%;
    margin-left: 25px;
    margin-bottom: 30px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #666666;
    color:#cccccc;
    border-top: solid 8px #4aaaa5;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -5px;
    margin-top: 25px;
    padding-top: 30px;
}

/* Contact page starts here */
.row {
    width: 100%;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 16.5px;    
}

.col-75 {
    margin-top: 6px;
    margin-left: 25px;
}

input[type=text], select, textarea {
    width: 900px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .col-message {
    margin-top: 6px;
    margin-left: 0px;
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 15px;
  }
  
  input[type=submit]:hover {
    background-color: #4aaaa5;
  }

/* portfolio page */

.row2 {
    margin-right: -10px;
}

.row3,
.row3 > .column {
    padding: 1px;
}

.row3 {
    margin-right: -10px;
}

.row3,
.row3 > .column {
    padding: 1px;
}

.column {
    float: left;
    width: 35%;
    margin-right: 15px;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 25px;
    width: 100%;
    height: 50px;
    text-align: left;
    margin-top: -4px;
    text-align: center;
    padding-top: 6px;
}  
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 900px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
@media screen and (max-width: 980px) {
    body {
      color: rgb(245, 141, 205);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 768px;
       padding: 10px;
    }
     
    .row {
       width: 100%;
    }  

    #p1{
        max-width: 350px;
    }
    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    body {
      color: rgb(245, 141, 205);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 100%;
       padding: 10px;
    }
     
    .row {
       width: 100%;
    }  

    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }
    
    label,
    input[type=text],
    input[type=email],
    textarea {
      display: block;
      width: 350px;
    }
}

@media screen and (max-width: 640px) {
    body {
      color: rgb(245, 141, 205);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 100%;
       padding: 10px;
    }
     
    header {
        position: static;
    }

    .row {
       width: 100%;
    }  

    #p1{
        max-width: 150px;
    }

    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }

    label,
    input[type=text],
    input[type=email],
    textarea {
      display: block;
      width: 150px;
    }
}
  
  /* Additional Screen Sizes */
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
      
      nav {
          width: 100%;
          padding: 10px;
      }
      
      .container {
         width: 200px;
         padding: 0px;
      }
       
      .row {
         width: 50%;
      }  
      
        #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }

      label,
      input[type=text],
      input[type=email],
      textarea {
          display: block;
          width: 250px;
      }
    }

    /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
        color: rgb(245, 141, 205);
      }
  
      nav {
          width: 100%;
          padding: 10px;
      }
      
      .container {
         width: 100%;
         padding: 10px;
      }
       
      .row {
         width: 50%;
      }  
      
      label,
      input[type=text],
      input[type=email],
      textarea {
          display: block;
          width: 100px;
      }
    }
  